body {
    background-color: lightgray;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

#container {
    border: #03265d solid 3pt;
    border-radius: 3px;
    margin: 50px;
}
 h1{
     color:#03265d;
 }
 
 span {
    font-weight: bold;
    color: #03265d;
 }